<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    
    <servlet>
        <servlet-name>RealCustomerRegistrarServlet</servlet-name>
        <servlet-class>presentation.RealCustomerRegistrarServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RealCustomerRegistrarServlet</servlet-name>
        <url-pattern>/RealCustomerRegistrarServlet</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>LegalCustomerRegistrationServlet</servlet-name>
        <servlet-class>presentation.LegalCustomerRegistrationServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LegalCustomerRegistrationServlet</servlet-name>
        <url-pattern>/LegalCustomerRegistrationServlet</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>RealCustomerSearchServlet</servlet-name>
        <servlet-class>presentation.RealCustomerSearchServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RealCustomerSearchServlet</servlet-name>
        <url-pattern>/RealCustomerSearchServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>RealCustomerUpdateServlet</servlet-name>
        <servlet-class>presentation.RealCustomerUpdateServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RealCustomerUpdateServlet</servlet-name>
        <url-pattern>/RealCustomerUpdateServlet</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>RealCustomerDeleteServlet</servlet-name>
        <servlet-class>presentation.RealCustomerDeleteServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RealCustomerDeleteServlet</servlet-name>
        <url-pattern>/RealCustomerDeleteServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>LegalCustomerSearchServlet</servlet-name>
        <servlet-class>presentation.LegalCustomerSearchServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LegalCustomerSearchServlet</servlet-name>
        <url-pattern>/LegalCustomerSearchServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>LegalCustomerUpdateServlet</servlet-name>
        <servlet-class>presentation.LegalCustomerUpdateServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LegalCustomerUpdateServlet</servlet-name>
        <url-pattern>/LegalCustomerUpdateServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LegalCustomerDeleteServlet</servlet-name>
        <servlet-class>presentation.LegalCustomerDeleteServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LegalCustomerDeleteServlet</servlet-name>
        <url-pattern>/LegalCustomerDeleteServlet</url-pattern>
    </servlet-mapping>

</web-app>